<div class="mt-4">
  <div class="card">
    <div class="card-header">Editar Cliente</div>
    <div class="card-body">
      <h5 class="card-title">Para atualizar os dados de um cliente</h5>
      <p class="card-text">
        Escolha um cliente na lista e clique no botão "Editar" da tabela.
      </p>
      <form [formGroup]="customerForm" (submit)="updateCustomer()">
        <div class="row">
          <div class="col-8">
            <label class="sr-only" for="name">Nome</label>
            <div class="input-group mb-2 mr-sm-2">
              <input
                type="text"
                class="form-control"
                formControlName="name"
                placeholder="Nome"
              />
            </div>
          </div>

          <div class="col-4">
            <label class="sr-only" for="phone">Telefone</label>
            <div class="input-group mb-2 mr-sm-2">
              <input
                type="text"
                class="form-control"
                formControlName="phone"
                placeholder="Telefone"
                mask="(00) 0000-0000"
                [dropSpecialCharacters]="false"
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-8">
            <label class="sr-only" for="address">Endereço</label>
            <div class="input-group mb-2 mr-sm-2">
              <input
                type="text"
                class="form-control"
                formControlName="address"
                placeholder="Endereço"
              />
            </div>
          </div>

          <div class="col-4">
            <label class="sr-only" for="membership">Membership</label>
            <div class="input-group mb-2 mr-sm-2">
              <select formControlName="membership" class="form-control">
                <option>Básico</option>
                <option>Padrão</option>
                <option>Premium</option>
              </select>
            </div>
          </div>
        </div>

        <button type="submit" class="btn btn-primary mb-2">Atualizar</button>
      </form>
    </div>
  </div>
</div>
